/*.body{
    display: flex;
    justify-content: center;
    align-items: center;
}*/



.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}



.contaner{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px black  solid;
    width: 50vw;
    height:50vh ;
}






